<div class="ide" cdkDropListGroup>
  <as-split #mainSplit direction="horizontal" [gutterSize]="7" restrictMove="true">
    <as-split-area [size]="18">
      <div class="panel">
        <app-ide-package-explorer [graph]="isVisualEditor ? editorComponent.visualEditorComponent.graph : null"
          (onSaveNodes)="onSaveNodes($event)" (onNodeRefreshed)="onNodeRefreshed($event)"
          (onNodeDeleted)="onNodeDeleted($event)">
        </app-ide-package-explorer>
      </div>
    </as-split-area>
    <as-split-area [size]="82">
      <as-split #centerSplit direction="vertical" [gutterSize]="7" restrictMove="true">
        <as-split-area [size]="60">
          <as-split #rightSplit direction="horizontal" [gutterSize]="7" restrictMove="true">
            <as-split-area order="1" [size]="60">
              <div class="panel">
                <app-ide-editor (onEditorChanged)="onEditorChanged($event)"
                  (onGraphNodeSelection)="onGraphNodeSelectionChanged($event)">
                </app-ide-editor>
              </div>
            </as-split-area>
            <as-split-area order="2" [size]="18" *ngIf="isVisualEditor">
              <div class="panel">
                <mat-card class="mat-elevation-z2">
                  <app-ide-operators [graph]="editorComponent.visualEditorComponent.graph"></app-ide-operators>
                </mat-card>
              </div>
            </as-split-area>
            <as-split-area order="3" [size]="isVisualEditor ? 22 : 40">
              <div class="panel">
                <mat-card class="mat-elevation-z2">
                  <app-ide-detail></app-ide-detail>
                </mat-card>
              </div>
            </as-split-area>
          </as-split>
        </as-split-area>
        <as-split-area [size]="40">
          <as-split #rightSplit direction="horizontal" [gutterSize]="7" restrictMove="true">
            <as-split-area [size]="75">
              <div class="panel">
                <mat-card class="mat-elevation-z2">
                  <mat-tab-group animationDuration="0ms" [selectedIndex]="selectedGraphOp ? 1 : 0">
                    <mat-tab>
                      <ng-template mat-tab-label>
                        <mat-icon class="tab-icon">description</mat-icon>
                        Queries ({{ getQueries() }})
                      </ng-template>
                      <app-ide-queries (onQueryGraph)="onQueryGraph($event)" (onQueryTabled)="onQueryTabled($event)"
                        (onShowPlan)="onShowPlan($event)">
                      </app-ide-queries>
                    </mat-tab>
                    <mat-tab *ngIf="isVisualEditor" [disabled]="!selectedGraphOp">
                      <ng-template mat-tab-label>
                        <mat-icon class="tab-icon">settings</mat-icon>
                        Parameters ({{ selectedGraphOp && paramDataSource?.data?.length ? paramDataSource?.data?.length : 0 }})
                      </ng-template>
                      <table mat-table class="full-width" matSort matSortActive="mandatory" matSortDirection="desc"
                        [dataSource]="paramDataSource">
                        <ng-container matColumnDef="parameterName">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                          <td mat-cell *matCellDef="let element">{{ element.parameterName }}</td>
                        </ng-container>

                        <ng-container matColumnDef="mandatory">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Mandatory</th>
                          <td mat-cell *matCellDef="let element">{{ element.mandatory ? 'Yes' : 'No' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="value">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
                          <td mat-cell *matCellDef="let element">{{ element.value }}</td>
                        </ng-container>

                        <ng-container matColumnDef="doc">
                          <th mat-header-cell *matHeaderCellDef>Description</th>
                          <td mat-cell *matCellDef="let element">{{ element.doc }}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="['parameterName', 'value', 'mandatory', 'doc']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['parameterName', 'value', 'mandatory', 'doc'];"></tr>
                      </table>

                      <mat-paginator [length]="paramDataSource?.data?.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]">
                      </mat-paginator>
                    </mat-tab>
                    <mat-tab *ngIf="isVisualEditor" [disabled]="!selectedGraphOp">
                      <ng-template mat-tab-label>
                        <mat-icon class="tab-icon">info_outline</mat-icon>
                        Operator
                      </ng-template>
                      <table *ngIf="selectedGraphOp" class="operator-table">
                        <tbody>
                          <tr>
                            <th><strong>Description:</strong></th>
                            <td>{{ selectedGraphOp?.doc }}</td>
                          </tr>
                          <tr>
                            <th><strong>Categories:</strong></th>
                            <td>{{ selectedGraphOp?.categories.join(', ') }}</td>
                          </tr>
                          <tr>
                            <th><strong>Minimum ports:</strong></th>
                            <td>{{ selectedGraphOp?.minPorts }}</td>
                          </tr>
                          <tr>
                            <th><strong>Maximum ports:</strong></th>
                            <td>{{ selectedGraphOp?.maxPorts }}</td>
                          </tr>
                          <tr>
                            <th><strong>Documentation:</strong></th>
                            <td>
                              <a href="{{ selectedGraphOp?.url }}" target="_blank" rel="noopener noreferrer">
                                {{ selectedGraphOp?.url }}
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </mat-tab>
                  </mat-tab-group>
                </mat-card>
              </div>
            </as-split-area>
            <as-split-area [size]="25">
              <div class="panel">
                <mat-card class="mat-elevation-z2">
                  <mat-tab-group animationDuration="0ms">
                    <mat-tab>
                      <ng-template mat-tab-label>
                        <mat-icon class="tab-icon">file_download</mat-icon>
                        Sources ({{ getStreams() }})
                      </ng-template>
                      <app-ide-streams [graph]="isVisualEditor ? editorComponent.visualEditorComponent.graph : null"
                        (onStreamQueried)="onStreamQueried($event)">
                      </app-ide-streams>
                    </mat-tab>
                    <mat-tab>
                      <ng-template mat-tab-label>
                        <mat-icon class="tab-icon">file_upload</mat-icon>
                        Sinks ({{ getSinks() }})
                      </ng-template>
                      <app-ide-sinks [graph]="isVisualEditor ? editorComponent.visualEditorComponent.graph : null"></app-ide-sinks>
                    </mat-tab>
                  </mat-tab-group>
                </mat-card>
              </div>
            </as-split-area>
          </as-split>
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
</div>
