@import "app/util/styles/variables";

::ng-deep .ide {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);

  .panel {
    padding: 3px;
    height: 100%;
  }

  .ide-main {
    height: 100%;
  }

  .mat-card {
    height: 100%;
    overflow: hidden;

    .mat-card-header {
      width: 100%;

      .mat-card-header-text {
        width: 100%;

        .mat-card-title,
        .mat-card-subtitle {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }

    .mat-card-content {
      height: 100%;
    }
  }

  .mat-tab-nav-bar,
  .mat-tab-header {
    background: rgba($color: #f8f9fb, $alpha: 1);
    margin-top: -16px !important;
    margin-left: -16px !important;
    margin-right: -16px !important;
  }

  .tab-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
    margin-right: 4px;
  }

  .tab-icon.tab-icon-after {
    margin-right: 0px;
    margin-left: 4px;
  }

  .mat-tab-group {
    height: 100%;

    .mat-tab-body-wrapper {
      height: 100%;

      .mat-tab-body {
        height: 100%;

        .mat-tab-body-content {
          height: 100%;

          .tab-area {
            height: 100%;
            display: flex;
            flex-direction: column;

            .tab-content {
              height: 100%;
              overflow: auto;
            }

            .tab-buttons {
              display: flex;
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }

  .mat-tree {
    background-color: transparent;

    ul {
      padding-inline-start: 1.5rem;
    }

    ul,
    li {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
    }

    .mat-tree-node {
      width: 100%;
      min-height: unset;

      .tree-node-handler {
        width: 100%;
        text-decoration: none;
        color: inherit;

        &:hover {
          background: rgba($color: $secondary, $alpha: 0.25);
        }

        &.active {
          background: rgba($color: $secondary, $alpha: 0.5);
        }

        .tree-node-content {
          padding-top: 3px;
          padding-bottom: 3px;
          display: flex;
          align-items: center;

          .mat-icon {
            font-size: 1rem;
            height: 1rem;
            width: 1rem;
            margin-right: 0.25rem;
            margin-left: 0.25rem;
          }

          .root-title {
            font-weight: bold;
          }
        }
      }
    }
  }

  .editor-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .editor-overlay-title {
      font-weight: 500;
      font-size: 128%;
      margin-bottom: 12px;
    }
  }

  .text-truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  table {
    white-space: nowrap;
  }

  tr.mat-header-row {
    height: 40px !important;
  }

  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  tr.mat-row,
  tr.mat-footer-row {
    height: 32px !important;
    cursor: pointer;

    &:hover {
      background: rgba($color: $secondary, $alpha: 0.25);
    }
  }

  .context-menu {
    visibility: hidden;
    position: fixed;
  }
}

::ng-deep .as-init {
  > .as-split-gutter {
    background-color: initial !important;
  }
}

::ng-deep .example-custom-placeholder {
  background: #f3f3f3;
  border: dotted 2px #002060;
  width: 48px;
  height: 48px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.operator-table {
  padding-top: 5px;
  font-size: 14px;

  td {
    white-space: break-spaces;
    padding-left: 10px;
  }

  th {
    text-align: left;
  }
}
