<div class="content">
  <as-split #mainSplit direction="horizontal" [gutterSize]="7" restrictMove="true">
    <as-split-area [size]="16">
      <div class="panel">
        <mat-card class="mat-elevation-z2 flex-column">
          <nav mat-tab-nav-bar>
            <a mat-tab-link [active]="true">
              Queries
            </a>
          </nav>
          <small *ngIf="serverQueries.length < 1">
            No queries
          </small>
          <mat-card-content>
            <div *ngFor="let server of serverQueries">
              <section *ngIf="server.queries.length > 0" class="check-section">
                <span>
                  <mat-checkbox class="check-margin"
                    [checked]="server.allChecked" [indeterminate]="someChecked(server)" (change)="setAll($event.checked, server)"
                    (mouseenter)="onServerMouseEnter(server)" (mouseleave)="onServerMouseLeave(server)">
                    <strong>
                      {{ server.serverDto.name }}
                    </strong>
                    <small>{{ server.odysseusNodeName ? '(' + server.odysseusNodeName + ')' : ''}}</small>
                  </mat-checkbox>
                </span>
                <span>
                  <ul>
                    <li *ngFor="let query of server.queries">
                      <mat-checkbox [checked]="query.checked" (change)="updateAllChecked(server, query, $event.checked)"
                        (mouseenter)="query.checked ? onQueryMouseEnter(query.query) : ''" (mouseleave)="onQueryMouseLeave(query.query)">
                        <span class="custom-badge {{ query.query.state === 'INACTIVE' ? 'custom-badge-warn' : 'custom-badge-success' }}">
                          <mat-icon>{{ query.query.state === 'INACTIVE' ? 'stop' : 'play_arrow' }}</mat-icon>
                        </span>
                        {{ query.query.name ? query.query.name : 'ID: ' + query.query.id }}
                      </mat-checkbox>
                    </li>
                  </ul>
                </span>
                <mat-divider></mat-divider>
              </section>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </as-split-area>
    <as-split-area [size]="62">
      <as-split #rightSplit direction="vertical" [gutterSize]="7" restrictMove="true">
        <as-split-area [size]="70">
          <div class="panel">
            <ng-container *ngIf="loaded === required">
              <app-query-graph [serverQueries]="serverQueries"
                (onGraphNodeSelected)="onGraphNodeSelected($event)"
                (onGraphNodeHover)="onGraphNodeHover($event)"
              ></app-query-graph>
            </ng-container>
          </div>
        </as-split-area>
        <as-split-area [size]="30">
          <div class="panel">
            <mat-card class="mat-elevation-z2 flex-column">
              <mat-tab-group animationDuration="0ms" #infoTabGroup>
                <mat-tab [disabled]="!selectedGraphOp">
                  <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">settings</mat-icon>
                    Parameters ({{ selectedGraphOp && paramDataSource?.data?.length ? paramDataSource?.data?.length : 0 }})
                  </ng-template>
                  <table mat-table class="full-width" matSort matSortActive="0" matSortDirection="asc"
                    [dataSource]="paramDataSource" *ngIf="selectedGraphOp">
                    <ng-container matColumnDef="0">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                      <td mat-cell *matCellDef="let element">{{ element[0] }}</td>
                    </ng-container>

                    <ng-container matColumnDef="1">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
                      <td mat-cell *matCellDef="let element">{{ element[1] }}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['0', '1']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['0', '1'];"></tr>
                  </table>

                  <mat-paginator *ngIf="selectedGraphOp" [length]="paramDataSource?.data?.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]">
                  </mat-paginator>
                  <small *ngIf="!selectedGraphOp">
                    Select operator in graph
                  </small>
                </mat-tab>
                <mat-tab [disabled]="!selectedGraphOp">
                  <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">output</mat-icon>
                    Output
                  </ng-template>
                  <ng-template matTabContent>
                    <div class="tab-content" *ngIf="results.length > 0">
                      <table class="full-width" mat-table [dataSource]="resultDataSource">
                        <ng-container [matColumnDef]="column" *ngFor="let column of resultDisplayedColumns">
                          <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                          <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="resultDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: resultDisplayedColumns;"></tr>
                      </table>
                    </div>
                    <div class="result-tab-buttons" *ngIf="results.length > 0">
                      <mat-form-field class="result-select-field">
                        <mat-label>Elements</mat-label>
                        <mat-select [(value)]="maxResults">
                          <mat-option value="5">5</mat-option>
                          <mat-option value="10">10</mat-option>
                          <mat-option value="25">25</mat-option>
                          <mat-option value="50">50</mat-option>
                          <mat-option value="100">100</mat-option>
                          <mat-option value="250">250</mat-option>
                          <mat-option value="500">500</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <button mat-icon-button *ngIf="results.length > 0"
                        (click)="onPauseConnectionClicked()" matTooltip="{{ paused ? 'Continue' : 'Pause'}} view">
                        <mat-icon *ngIf="paused">play_arrow</mat-icon>
                        <mat-icon *ngIf="!paused">pause</mat-icon>
                      </button>
                    </div>
                    <small *ngIf="!results.length > 0">
                      No output data
                    </small>
                  </ng-template>
                </mat-tab>
                <mat-tab [disabled]="!selectedGraphOp">
                  <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">info_outline</mat-icon>
                    Operator
                  </ng-template>
                  <table *ngIf="selectedGraphOp" class="operator-table">
                    <tbody>
                      <tr>
                        <th><strong>ID:</strong></th>
                        <td>{{ selectedGraphOp.operatorName }}</td>
                      </tr>
                      <tr>
                        <th><strong>Name:</strong></th>
                        <td>{{ selectedGraphOp.operatorDisplayName }}</td>
                      </tr>
                      <tr>
                        <th><strong>Type:</strong></th>
                        <td>{{ selectedGraphOp.operatorType }}</td>
                      </tr>
                      <tr>
                        <th><strong>Implementation:</strong></th>
                        <td>{{ selectedGraphOp.operatorImplementation }}</td>
                      </tr>
                    </tbody>
                  </table>
                </mat-tab>
              </mat-tab-group>
            </mat-card>
          </div>
        </as-split-area>
      </as-split>
    </as-split-area>
    <as-split-area [size]="22">
      <div class="panel">
        <mat-card class="mat-elevation-z2 flex-column">
          <nav mat-tab-nav-bar>
            <a mat-tab-link [active]="true">
              Resources
            </a>
          </nav>

          <mat-card-content class="expansion-content">
            <ng-container *ngFor="let server of serverSystemLoads; let i = index">
              <mat-expansion-panel [expanded]="i == 0">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ server.serverDto.name }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                  <app-monitoring-gauge-chart
                    [maxValue]="server.cpu.maxFreq"
                    [currentValue]="server.cpuCurrentFreqSum"
                    [type]="'CPU'">
                  </app-monitoring-gauge-chart>
                  <app-monitoring-gauge-chart
                    [maxValue]="server.mem.total"
                    [currentValue]="server.mem.total - server.mem.available"
                    [type]="'MEM'">
                  </app-monitoring-gauge-chart>
                  <app-monitoring-gauge-chart
                    [maxValue]="server.mem.virtualMemory.virtualMax"
                    [currentValue]="server.mem.virtualMemory.virtualInUse"
                    [type]="'VMEM'">
                  </app-monitoring-gauge-chart>
                  <app-monitoring-gauge-chart
                    [maxValue]="server.mem.virtualMemory.swapTotal"
                    [currentValue]="server.mem.virtualMemory.swapUsed"
                    [type]="'SWAP'">
                  </app-monitoring-gauge-chart>

                  <ng-container *ngFor="let index of server.netArray">
                    <app-monitoring-network-chart
                      [bytesSent]="server.net[index].bytesSent"
                      [bytesRecv]="server.net[index].bytesRecv"
                      [chartTitle]="server.net[index].displayName">
                    </app-monitoring-network-chart>
                  </ng-container>
                </ng-template>

                <mat-action-row class="expansion-actions">
                  <button mat-button color="primary" (click)="openResourceDialog(server)">Details</button>
                  <button mat-button color="primary" (click)="openLogDialog(server.serverDto)">Logs</button>
                </mat-action-row>
              </mat-expansion-panel>
            </ng-container>
          </mat-card-content>
        </mat-card>
      </div>
    </as-split-area>
  </as-split>
</div>
