@import "app/util/styles/variables";
@import "app/util/styles/components/badge";

::ng-deep .content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);

  .panel {
    padding: 3px;
    height: 100%;
  }

  .mat-card {
    height: 100%;
    overflow: hidden;

    .mat-card-content {
      height: 100%;
      overflow-x: auto;
    }

    .expansion-content {
      height: calc(100% - 20px);
      padding-left: 2px;
      padding-right: 2px;

      .mat-expansion-panel {
        margin-top: 5px;
        margin-bottom: 2px;

        .mat-expansion-panel-header {
          background-color: #f8f9fb;
        }

        .mat-expansion-panel-header.mat-expanded {
          height: 48px;
        }

        .mat-expansion-panel-body {
          padding: 0 12px 8px;
          display: flex;
          flex-wrap: wrap;
        }

        .expansion-actions {
          justify-content: center;
          padding: 2px 0 2px 0;
        }
      }
    }
  }

  .mat-tab-nav-bar,
  .mat-tab-header {
    background: rgba($color: #f8f9fb, $alpha: 1);
    margin-top: -16px !important;
    margin-left: -16px !important;
    margin-right: -16px !important;
  }

  table {
    white-space: nowrap;
  }

  tr.mat-header-row {
    height: 40px !important;
  }

  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  tr.mat-row,
  tr.mat-footer-row {
    height: 32px !important;
    cursor: pointer;

    &:hover {
      background: rgba($color: $secondary, $alpha: 0.25);
    }
  }

  .tab-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
    margin-right: 4px;
  }

  .mat-tab-group {
    height: 100%;

    .mat-tab-body-wrapper {
      height: 100%;

      .mat-tab-body {
        height: 100%;

        .mat-tab-body-content {
          height: 100%;

          .tab-area {
            height: 100%;
            display: flex;
            flex-direction: column;

            .tab-content {
              height: 100%;
              overflow: auto;
            }

            .tab-buttons {
              display: flex;
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }

  .check-section {
    margin: 12px 0;
  }

  .check-margin {
    margin: 0 12px;
  }

  ul {
    list-style-type: none;
    margin-top: 4px;
  }

  .operator-table {
    padding-top: 5px;
    font-size: 14px;

    td {
      white-space: break-spaces;
      padding-left: 10px;
    }

    th {
      text-align: left;
    }
  }

  .mat-checkbox-label {
    margin-top: -2px;
  }
}

.result-tab-buttons {
  padding-top: 8px;
  justify-content: space-between !important;
}

.result-select-field {
  font-size: 14px;
  width: 80px;
}
