<div class="grid-container">
  <h1>Lists</h1>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Parsers">
      <mat-card class="multi-card mat-elevation-z3" *ngFor="let serverParser of serverParsers">
        <mat-card-header>
          <mat-card-title>
            {{ serverParser.serverDto.name }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-parser-table [data]="serverParser.parsers"></app-parser-table>
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="Datatypes">
      <mat-card class="multi-card mat-elevation-z3" *ngFor="let serverDatatype of serverDatatypes">
        <mat-card-header>
          <mat-card-title>
            {{ serverDatatype.serverDto.name }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-datatype-table [data]="serverDatatype.datatypes"></app-datatype-table>
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="Functions">
      <mat-card class="multi-card mat-elevation-z3" *ngFor="let serverFunction of serverFunctions">
        <mat-card-header>
          <mat-card-title>
            {{ serverFunction.serverDto.name }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-function-table [data]="serverFunction.functions"></app-function-table>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>