<div *ngIf="form" class="auth-background">
  <div class="overlay"></div>
  <div class="auth-wrapper">
    <header>
      <a href="mailto:odysseus@uol.de">odysseus@uol.de</a>
      <div>
        <a
          href="https://git.swl.informatik.uni-oldenburg.de/projects/ODY"
          mat-icon-button
          color="white"
          aria-label="Example icon button with a heart icon"
        >
          <mat-icon>code</mat-icon>
        </a>
        <a
          href="https://wiki.odysseus.informatik.uni-oldenburg.de/display/ODYSSEUS/Odysseus+Home"
          mat-icon-button
          color="white"
          aria-label="Example icon button with a heart icon"
        >
          <mat-icon>bookmark</mat-icon>
        </a>
        <a
          href="mailto:odysseus@uol.de"
          mat-icon-button
          color="white"
          aria-label="Example icon button with a heart icon"
        >
          <mat-icon>mail</mat-icon>
        </a>
      </div>
    </header>
    <main>
      <form [formGroup]="form" (keyup.enter)="login()">
        <mat-card class="mat-elevation-z3">
          <img
            mat-card-image
            src="https://odysseus.informatik.uni-oldenburg.de/img/logo.png"
            alt="Odysseus Logo"
          />
          <mat-card-header class="text-center">
            <mat-card-title class="mat-card-title"
              >WebStudio Sign In</mat-card-title
            >
            <mat-card-subtitle
              >Sign in using your WebStudio account.</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <div class="login-error" *ngIf="loginError$ | async">
              {{ loginError$ | async }}
            </div>

            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput autofocus formControlName="username" />
              <mat-error *ngIf="form.controls.username.hasError('required')">
                Enter an username
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password" />
              <mat-error *ngIf="form.controls.password.hasError('required')">
                Enter a password
              </mat-error>
            </mat-form-field>

            <mat-checkbox color="primary" formControlName="rememberMe"
              >Stay logged in</mat-checkbox
            >
          </mat-card-content>
          <mat-card-actions align="end">
            <button
              type="submit"
              mat-flat-button
              color="primary"
              (click)="login()"
              [disabled]="form.invalid"
            >
              Sign In
            </button>
          </mat-card-actions>
        </mat-card>
      </form>
    </main>
    <footer class="footer">
      <div>
        © Copyright (c) {{ getYear() }}, University of Oldenburg; all rights
        reserved.
      </div>
      <div>Made by the Odysseus Team</div>
    </footer>
  </div>
</div>
