.auth-background {
  position: relative;
  background: url("https://odysseus.informatik.uni-oldenburg.de/img/studiobackground.jpg")
    center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #4c566a, #2e3440);
  opacity: 0.9;
}

.auth-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.mat-card {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 42px;
}

.mat-card-image:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

.mat-card-header {
  display: block;
  text-align: center;
  margin: 24px 0 36px;
}

.mat-form-field {
  display: block;
  margin-bottom: 0.5em;
}

.mat-error {
  padding-bottom: 20px;
}

main {
  margin-top: auto;
  margin-bottom: auto;
}

header,
footer {
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  font-size: 80%;
  padding: 1rem 1rem;

  a {
    color: #fff;
  }
}
