<div class="tab-area">
  <div class="tab-content">
    <table class="full-width" mat-table [dataSource]="dataSource">
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
        <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="tab-buttons">
    <mat-form-field class="select-field">
      <mat-label>Elements</mat-label>
      <mat-select [(value)]="maxResults">
        <mat-option value="10">10</mat-option>
        <mat-option value="25">25</mat-option>
        <mat-option value="50">50</mat-option>
        <mat-option value="100">100</mat-option>
        <mat-option value="250">250</mat-option>
        <mat-option value="500">500</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button (click)="onPauseConnectionClicked()" matTooltip="Suspend all queries">
      <mat-icon *ngIf="paused">play_arrow</mat-icon>
      <mat-icon *ngIf="!paused">pause</mat-icon>
    </button>
  </div>
</div>
