@import "../variables";

.custom-badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 80%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.custom-badge-warn {
  color: #fff;
  background-color: $warn;
}

.custom-badge-success {
  color: #fff;
  background-color: #28a745;
}

.custom-badge-primary {
  color: #fff;
  background-color: $primary;
}

.custom-badge-secondary {
  color: #fff;
  background-color: $secondary;
}

.custom-badge .mat-icon {
  font-size: 10px;
  height: 8px;
  width: 10px;
}
