.header-button {
  position: absolute;
  top: 20px;
  right: 19px;
}

.action-column {
  white-space: nowrap;
  text-align: end;
}

.filter-field {
  font-size: 14px;
  width: 20%;
  position: absolute;
  right: 16px;
  top: 5px;
}

.filter-prefix {
  position: relative;
  bottom: -5px;
  left: -3px;
}

tr.detail-row {
  height: 0;
}

tr:not(.expanded-row):not(.detail-row):not(.mat-header-row):hover {
  background: whitesmoke;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  word-break: break-all;
}
