<div class="grid-container">
  <h1>Users</h1>
  <button mat-raised-button color="primary" class="header-button" (click)="createUser()">
    <mat-icon>add</mat-icon>Add
  </button>

  <mat-card class="mat-elevation-z3">
    <mat-form-field class="filter-field">
      <mat-label>Filter</mat-label>
      <mat-icon class="filter-prefix" matPrefix>filter_list</mat-icon>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>

    <table class="full-width" mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let row">{{ row.username }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
        <td mat-cell *matCellDef="let row">{{ row.role }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" class="action-column">
          <button mat-icon-button color="accent" (click)="editUser(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteUser(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          <p class="center">No entries found.</p>
        </td>
      </tr>
    </table>

    <mat-paginator [length]="dataSource?.data?.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]">
    </mat-paginator>
  </mat-card>
</div>