::ng-deep.x6-widget-stencil {
  .x6-widget-stencil-group-content {
    background-color: white;
  }

  .x6-widget-stencil-content {
    background-color: white;
  }

  .x6-node {
    cursor: move;
  }
}
