<mat-form-field class="filter-field">
  <mat-label>Filter</mat-label>
  <mat-icon class="filter-prefix" matPrefix>filter_list</mat-icon>
  <input matInput (keyup)="applyFilter($event)">
</mat-form-field>

<table
  class="full-width"
  mat-table
  matSort
  [dataSource]="dataSource"
  multiTemplateDataRows
>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="owner">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
    <td mat-cell *matCellDef="let element">{{ element.owner }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" class="action-column">
      <button
        mat-icon-button
        color="accent"
        (click)="expandedElement = expandedElement === element ? null : element"
      >
        <mat-icon *ngIf="element !== expandedElement">expand_more</mat-icon>
        <mat-icon *ngIf="element === expandedElement">expand_less</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="delete(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div
        class="element-detail"
        [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'"
      >
        {{ element.schema | json }}
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: displayedColumns;"
    class="element-row"
    [class.expanded-row]="expandedElement === element"
  ></tr>
  <tr mat-row *matRowDef="let element; columns: ['expandedDetail']" class="detail-row"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [attr.colspan]="displayedColumns.length">
      <p class="center">No entries found.</p>
    </td>
  </tr>
</table>

<mat-paginator
  [length]="dataSource.data?.length"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 50]"
></mat-paginator>