<div class="grid-container">
  <h1>Streams</h1>

  <mat-card class="multi-card mat-elevation-z3" *ngFor="let serverStream of serverStreams">
    <mat-card-header>
      <mat-card-title>
        {{ serverStream.serverDto.name }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-stream-table [serverDto]="serverStream.serverDto" [data]="serverStream.streams"
        (streamDeleted)="delete($event)" (dataDictionaryEventReceived)="updateStreams()"></app-stream-table>
    </mat-card-content>
  </mat-card>
</div>