<h1 mat-dialog-title>Save changes</h1>
<div mat-dialog-content>Save the changes of file {{ data.name }}?</div>
<div mat-dialog-actions class="center">
  <button mat-button color="primary" (click)="onYesClicked()">Yes</button>
  <button mat-button color="warn" (click)="onNoClicked()">No</button>
  <button mat-button (click)="onCancelClicked()">Cancel</button>
</div>