<h1 mat-dialog-title>
  Configure parameters
</h1>

<div mat-dialog-content class="dialog-content">
  <mat-accordion class="expansion-headers-align">
    <mat-expansion-panel [expanded]="step === 0" [disabled]="requiredParams.length < 1" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Required
        </mat-panel-title>
        <mat-panel-description>
          Configure required parameters
          <mat-icon>bolt</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="requiredFormGroup">
        <ng-container *ngFor="let param of requiredParams">
          <ng-container *ngIf="param.possibleValues.length > 0">
            <ng-template *ngTemplateOutlet="paramSelectFieldTemplate; context: { param, form: requiredFormGroup }"></ng-template>
          </ng-container>
          <ng-container *ngIf="param.possibleValues.length === 0 && typeMap.get(param.parameterType) === 'radio'">
            <ng-template *ngTemplateOutlet="paramRadioFieldTemplate; context: { param, form: requiredFormGroup }"></ng-template>
          </ng-container>
          <ng-container *ngIf="param.possibleValues.length === 0 && typeMap.get(param.parameterType) !== 'radio'">
            <ng-template *ngTemplateOutlet="paramFieldTemplate; context: { param, form: requiredFormGroup }"></ng-template>
          </ng-container>
        </ng-container>
      </form>

      <mat-action-row>
        <button mat-button color="primary" [disabled]="requiredFormGroup.invalid" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" [disabled]="requiredFormGroup.invalid" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Optional
        </mat-panel-title>
        <mat-panel-description>
          Configure optional parameters
          <mat-icon>question_mark</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="optionalFormGroup">
        <ng-container *ngFor="let param of optionalParams" [ngSwitch]="typeMap.get(param.parameterType)">
          <ng-container *ngSwitchCase="'radio'">
            <ng-template *ngTemplateOutlet="paramRadioFieldTemplate; context: { param, form: optionalFormGroup }"></ng-template>
          </ng-container>
          <ng-container *ngSwitchCase="'create-sdf'">
            <app-parameter-create-sdf-attribute [serverDto]="serverDto" [param]="param"
              [parentForm]="optionalFormGroup" [datatypes]="datatypes">
            </app-parameter-create-sdf-attribute>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <ng-container *ngIf="param.possibleValues.length > 0 && !param.list">
              <ng-template *ngTemplateOutlet="paramSelectFieldTemplate; context: { param, form: optionalFormGroup }"></ng-template>
            </ng-container>
            <ng-container *ngIf="param.possibleValues.length === 0 || (param.possibleValues.length > 0 && param.list)">
              <ng-template *ngTemplateOutlet="paramFieldTemplate; context: { param, form: optionalFormGroup }"></ng-template>
            </ng-container>
          </ng-container>
        </ng-container>
      </form>

      <mat-action-row>
        <button mat-button color="primary" [disabled]="requiredParams.length < 1" (click)="prevStep()">Previous</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div mat-dialog-actions class="center">
  <button mat-button color="warn" (click)="cancel()">
    Cancel
  </button>
  <button mat-button color="primary" (click)="save()"
    [disabled]="requiredFormGroup.invalid || optionalFormGroup.invalid">
    Save
  </button>
</div>

<ng-template #paramSelectFieldTemplate let-param="param" let-form="form">
  <div [formGroup]="form">
    <mat-form-field class="full-width">
      <mat-label>{{ param.parameterName }}</mat-label>
      <mat-select [formControlName]="param.parameterName">
        <mat-option *ngFor="let value of param.possibleValues" [value]="value">
          {{ value }}
        </mat-option>
      </mat-select>
      <button *ngIf="!param.mandatory && form.controls[param.parameterName].value"
        matSuffix mat-icon-button aria-label="Clear"
        (click)="form.controls[param.parameterName].reset(); $event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="form.controls[param.parameterName].hasError('required')">
        Required
      </mat-error>
      <mat-hint>{{ param.doc }}</mat-hint>
    </mat-form-field>
  </div>
</ng-template>

<ng-template #paramRadioFieldTemplate let-param="param" let-form="form">
  <div class="parameter-radio-group" [formGroup]="form">
    <mat-label>{{ param.parameterName }} {{ param.mandatory ? '*' : '' }}</mat-label>
    <mat-radio-group [formControlName]="param.parameterName">
      <mat-radio-button *ngIf="!param.mandatory" [checked]="!param.value">
        Default
      </mat-radio-button>
      <mat-radio-button value="true">
        True
      </mat-radio-button>
      <mat-radio-button value="false">
        False
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-divider></mat-divider>
  <mat-hint class="parameter-radio-hint">{{ param.doc }}</mat-hint>
</ng-template>

<ng-template #paramFieldTemplate let-param="param" let-form="form">
  <mat-form-field class="full-width" [formGroup]="form">
    <mat-label>{{ param.parameterName }}</mat-label>
    <input matInput
      [type]="typeMap.get(param.parameterType) ? typeMap.get(param.parameterType) : 'text'"
      [pattern]="param.parameterType.includes('IntegerParameter') || param.parameterType.includes('LongParameter') ? '[0-9]*': ''"
      [formControlName]="param.parameterName">
      <mat-error *ngIf="form.controls[param.parameterName].hasError('required')">
        Required
      </mat-error>
      <mat-error *ngIf="form.controls[param.parameterName].hasError('pattern')">
        Only whole numbers allowed
      </mat-error>
    <mat-hint>{{ param.doc }}</mat-hint>
  </mat-form-field>
</ng-template>
