.expansion-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.dialog-content {
  padding-bottom: 3px;
  padding-top: 3px;
}

.parameter-radio-group {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  mat-label {
    color: rgba(0, 0, 0, 0.54);
  }
}

.mat-divider {
  border-top-color: rgba(0, 0, 0, 0.42);
  margin-top: 3px;
}

.parameter-radio-hint {
  font-size: 75%;
  margin-bottom: 15px;
}
