<mat-toolbar color="primary" class="mat-elevation-z3">
  <div class="overlay"></div>
  <div class="toolbar-logo">
    <img src="https://odysseus.informatik.uni-oldenburg.de/img/logo.png" alt="Odysseus Logo" />
    <div class="triangle"></div>
  </div>

  <span class="toolbar-spacer"></span>

  <div class="odysseus-icons">
    <a href="mailto:odysseus@uol.de" mat-icon-button #tooltip="matTooltip" [matTooltip]="'E-Mail'">
      <mat-icon>mail</mat-icon>
    </a>
    <a href="https://wiki.odysseus.informatik.uni-oldenburg.de/display/ODYSSEUS/Odysseus+Home" mat-icon-button
      #tooltip="matTooltip" [matTooltip]="'Confluence'">
      <mat-icon>menu_book</mat-icon>
    </a>
    <a href="https://git.swl.informatik.uni-oldenburg.de/projects/ODY" mat-icon-button #tooltip="matTooltip"
      [matTooltip]="'Bitbucket'">
      <mat-icon>code</mat-icon>
    </a>
  </div>

  <div class="user" [matMenuTriggerFor]="userMenu">
    <div class="user-label">{{ username$ | async }}</div>
    <div class="user-avatar">
      <div class="user-avatar-initial">
        {{ username$ | async | slice: 0:1 }}
      </div>
    </div>
  </div>

  <mat-menu #userMenu="matMenu" [overlapTrigger]="false" xPosition="before" yPosition="below">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav mat-elevation-z3" fixedInViewport role="navigation" [mode]="'side'"
    [opened]="true" autosize fixedTopGap="64">
    <mat-nav-list>
      <mat-list-item >
        <button mat-icon-button (click)="isExpanded = !isExpanded">
          <mat-icon [matTooltip]="'Menu'" [matTooltipPosition]="'right'" *ngIf="!isExpanded">menu</mat-icon>
          <mat-icon *ngIf="isExpanded">menu</mat-icon>
          <span *ngIf="isExpanded">Menu</span>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/servers']" [routerLinkActive]="['active', 'cdk-focused']"
        [routerLinkActiveOptions]="{exact: true}" #tooltip="matTooltip"
        [matTooltip]="isExpanded?'':'Connections'" [matTooltipPosition]="'right'">
        <mat-icon mat-list-icon>storage</mat-icon> <span *ngIf="isExpanded">Connections</span>
      </a>
      <a *ngIf="(isLoggedIn$ | async) && defaultServer !== null"
        mat-list-item [routerLink]="['/servers/', defaultServer]" [routerLinkActive]="['active', 'cdk-focused']" #tooltip="matTooltip"
        [matTooltip]="isExpanded?'':'Integrated Development Environment ' + '(' + defaultServer + ')'" [matTooltipPosition]="'right'">
        <mat-icon mat-list-icon>code</mat-icon> <span *ngIf="isExpanded">IDE (default)</span>
      </a>
      <a mat-list-item *ngIf="isLoggedIn$ | async" [routerLink]="['/monitoring']" [routerLinkActive]="['active']"
         #tooltip="matTooltip" [matTooltip]="isExpanded?'':'Monitoring'" [matTooltipPosition]="'right'">
        <mat-icon mat-list-icon>speed</mat-icon> <span *ngIf="isExpanded">Monitor</span> <!-- insight, history, memory, public, travel_explore, troubleshoot, dashboard -->
      </a>
      <ng-container *ngIf="isLoggedIn$ | async">
        <a mat-list-item [routerLink]="['/streams']" [routerLinkActive]="['active']" #tooltip="matTooltip"
          [matTooltip]="isExpanded?'':'Streams'" [matTooltipPosition]="'right'">
          <mat-icon mat-list-icon>file_download</mat-icon> <span *ngIf="isExpanded">Streams</span>
        </a>
        <a mat-list-item [routerLink]="['/sinks']" [routerLinkActive]="['active']" #tooltip="matTooltip"
          [matTooltip]="isExpanded?'':'Sinks'" [matTooltipPosition]="'right'">
          <mat-icon mat-list-icon>file_upload</mat-icon> <span *ngIf="isExpanded">Sinks</span>
        </a>
        <a mat-list-item [routerLink]="['/queries']" [routerLinkActive]="['active']" #tooltip="matTooltip"
          [matTooltip]="isExpanded?'':'Queries'" [matTooltipPosition]="'right'">
          <mat-icon mat-list-icon>playlist_play</mat-icon> <span *ngIf="isExpanded">Queries</span>
        </a>
        <a mat-list-item [routerLink]="['/logs']" [routerLinkActive]="['active']" #tooltip="matTooltip"
          [matTooltip]="isExpanded?'':'Logs'" [matTooltipPosition]="'right'">
          <mat-icon mat-list-icon>description</mat-icon> <span *ngIf="isExpanded">Logs</span>
        </a>
        <a mat-list-item [routerLink]="['/lists']" [routerLinkActive]="['active']" #tooltip="matTooltip"
          [matTooltip]="isExpanded?'':'Lists'" [matTooltipPosition]="'right'">
          <mat-icon mat-list-icon>list</mat-icon> <span *ngIf="isExpanded">Lists</span>
        </a>
      </ng-container>
      <ng-container *ngIf="isAdmin$ | async">
        <mat-divider></mat-divider>
        <a mat-list-item [routerLink]="['/users']" [routerLinkActive]="['active']" #tooltip="matTooltip"
          [matTooltip]="isExpanded?'':'Users'" [matTooltipPosition]="'right'">
          <mat-icon mat-list-icon>supervisor_account</mat-icon> <span *ngIf="isExpanded">Users</span>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [style.margin-left.px]="!isExpanded?60:140">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
