@import "app/util/styles/variables";

.mat-nav-list a.active {
  color: $secondary;
  background: rgba(0, 0, 0, 0.04);
}

.toolbar-logo {
  position: relative;
  margin-left: -16px;
  display: flex;
  height: 100%;
}

.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 64px 64px;
  border-color: transparent transparent transparent white;
}

.odysseus-icons {
  margin-right: 48px;
  color: $bg-color;
}

.user {
  position: relative;
  display: flex;
  align-items: center;

  &.mat-menu-trigger {
    cursor: pointer;
  }
}

.user-label {
  margin-right: 16px;
}

.user-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: $secondary;

  .user-avatar-initial {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
  }
}

@media (max-width: 599px) {
  .triangle {
    border-width: 0 0 56px 56px;
  }

  .odysseus-icons {
    display: none;
  }

  .user .user-label {
    display: none;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 100;
}

.mat-sidenav-content {
  background-color: $bg-color;
}

.mat-nav-list .mat-toolbar {
  height: 48px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #4c566a, #2e3440);
  opacity: 0.8;
}
