<div class="grid-container">
  <h1>Connections</h1>
  <button mat-raised-button color="primary" class="header-button" (click)="createServer()">
    <mat-icon>add</mat-icon>Add
  </button>

  <mat-card class="mat-elevation-z3">
    <mat-form-field class="filter-field">
      <mat-label>Filter</mat-label>
      <mat-icon class="filter-prefix" matPrefix>filter_list</mat-icon>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>

    <table class="full-width" mat-table [dataSource]="dataSource"
      cdkDropList (cdkDropListDropped)="onListDrop($event)" [cdkDropListData]="dataSource">
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef>Priority</th>
        <td mat-cell *matCellDef="let row" (click)="serverClicked(row.serverDto)" >
          {{ row.serverDto.priority }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row" (click)="serverClicked(row.serverDto)" >
          {{ row.serverDto.name }}
          <span *ngIf="row.serverDto.name === defaultServer" class="custom-badge custom-badge-secondary">
            DEFAULT
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row" (click)="serverClicked(row.serverDto)" >
          <ng-container *ngIf="row.online != null && row.online === true">
            <span class="online-dot">●</span>
            <span>online</span>
          </ng-container>
          <ng-container *ngIf="row.online != null && row.online === false">
            <span class="offline-dot">●</span>
            <span>offline</span>
          </ng-container>
          <ng-container *ngIf="row.online == null">
            <span>?</span>
          </ng-container>

        </td>
      </ng-container>

      <ng-container matColumnDef="scheme">
        <th mat-header-cell *matHeaderCellDef>Scheme</th>
        <td mat-cell *matCellDef="let row" (click)="serverClicked(row.serverDto)" >{{ row.serverDto.scheme }}</td>
      </ng-container>

      <ng-container matColumnDef="host">
        <th mat-header-cell *matHeaderCellDef >Host</th>
        <td mat-cell *matCellDef="let row" (click)="serverClicked(row.serverDto)">{{ row.serverDto.host }}</td>
      </ng-container>

      <ng-container matColumnDef="port">
        <th mat-header-cell *matHeaderCellDef>Port</th>
        <td mat-cell *matCellDef="let row" (click)="serverClicked(row.serverDto)">{{ row.serverDto.port }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let row" (click)="serverClicked(row.serverDto)">{{ row.serverDto.description }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" class="action-column">
          <button *ngIf="!(hasToken(row.serverDto.name) | async)" mat-icon-button matTooltip="Login"
            matTooltipPosition="above" color="primary" (click)="loginServer(row.serverDto)"
            [disabled]="!row.online">
            <mat-icon>login</mat-icon>
          </button>
          <button *ngIf="(hasToken(row.serverDto.name) | async)" mat-icon-button matTooltip="Logout"
            matTooltipPosition="above" color="primary" (click)="logoutServer(row.serverDto)"
            [disabled]="!row.online">
            <mat-icon>logout</mat-icon>
          </button>
          <a mat-icon-button color="basic" matTooltip="Integrated Development Environment" matTooltipPosition="above"
            [routerLink]="['/servers', row.serverDto.name]"
            [class.disabled]="!(hasToken(row.serverDto.name) | async) || !row.online">
            <mat-icon>code</mat-icon>
          </a>
          <button mat-icon-button color="accent" matTooltip="Edit" matTooltipPosition="above"
            (click)="editServer(row.serverDto)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Delete" matTooltipPosition="above"
            (click)="deleteServer(row.serverDto)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" cdkDrag [cdkDragData]="row"
        [ngClass]="{'loggedInNode': (hasToken(row.serverDto.name) | async), 'offlineNode': (row.online != null && row.online === false)}"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          <p class="center">No entries found.</p>
        </td>
      </tr>
    </table>

    <mat-paginator [length]="dataSource.data?.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]">
    </mat-paginator>
  </mat-card>
</div>
