@import "app/util/styles/components/table";
@import "app/util/styles/components/badge";

td,
th {
  width: 10%;
}

.mat-form-field {
  top: 16px;
}

.online-dot {
  color: green;
  margin-right: 4px;
}

.offline-dot {
  color: red;
  margin-right: 4px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px
              rgba(0, 0, 0, 0.14), 0 3px 14px 2px
              rgba(0, 0, 0, 0.12);
  height: 48px;
  background-color: white;
  display: table;
}

.cdk-drag-preview td {
  flex-grow: 2;
  font-size: 14px;
  padding: 4px;
  vertical-align: middle;
}

.cdk-drag-placeholder {
  background-color: rgba(225, 225, 225, 0.5);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.loggedInNode {
  background-color: rgba(210, 235, 242, 0.30);
  &:hover {
    background-color: rgb(67, 219, 67);
  }
}

.offlineNode {
  color:rgb(186, 185, 185);
  background-color: rgba(246, 234, 234, 0.30);
}

