<h1 mat-dialog-title>
  {{ mode === 'create' ? 'Add' : 'Edit' }} user
</h1>

<div [formGroup]="form" mat-dialog-content (keyup.enter)="save()">
  <div>
    <mat-form-field class="full-width">
      <mat-label>E-mail</mat-label>
      <input type="email" matInput formControlName="email" />
      <mat-error *ngIf="form.controls['email'].hasError('required')">
        Required
      </mat-error>
      <mat-error *ngIf="form.controls['email'].hasError('email')">Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="form.controls['username'].hasError('required')">
        Required
      </mat-error>
      <mat-error *ngIf="form.controls['username'].hasError('stringError')">
        Already exists
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option value="user">User</mat-option>
        <mat-option value="admin">Admin</mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['role'].hasError('required')">
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" />
      <mat-error *ngIf="form.controls['password'].hasError('required')">
        Required
      </mat-error>
      <mat-hint *ngIf="mode === 'edit'">optional</mat-hint>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions class="center">
  <button mat-button color="warn" (click)="cancel()">Cancel</button>
  <button mat-button color="primary" (click)="save()" [disabled]="!form.valid">Save</button>
</div>