<h1 mat-dialog-title>
  <strong>{{ serverDto.name }}</strong>: system logs
</h1>

<div mat-dialog-content>
  <pre>
    {{ logContent }}
  </pre>
</div>

<div mat-dialog-actions class="center">
  <button mat-button color="primary" (click)="close()">
    Close
  </button>
</div>
