<div class="details-wrapper">
  <div class="details-content" [ngStyle]="{'visibility': tabs && tabs.length ? 'visible' : 'hidden'}">
    <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)"
      animationDuration="0ms">
      <mat-tab *ngFor="let tab of tabs; let i = index">
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">search</mat-icon>
          <span *ngIf="tab.type === 'table'">(Q:{{ tab.data.id }})</span>
          <span *ngIf="tab.type === 'graph'">Query {{ tab.data.id }}</span>
          <span *ngIf="tab.type === 'plan'">Current Plan</span>
          <button mat-icon-button (click)="onCloseTabClicked(i)" matTooltip="Close">
            <mat-icon>close</mat-icon>
          </button>
        </ng-template>
        <app-ide-detail-table *ngIf="tab.type === 'table'" [query]="tab.data"></app-ide-detail-table>
        <app-ide-detail-graph *ngIf="tab.type === 'graph'" [query]="tab.data"></app-ide-detail-graph>
        <app-ide-detail-plan *ngIf="tab.type === 'plan'" [queries]="tab.data"></app-ide-detail-plan>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="editor-overlay" [ngStyle]="{'visibility': !tabs || !tabs.length ? 'visible' : 'hidden'}">
    <div>
      <div class="editor-overlay-title">Nothing to display</div>
      <small>Display the incoming elements of a query, the query graph or the current plan.</small>
    </div>
  </div>
</div>