.mat-icon-button {
  margin-left: 8px;
  margin-right: -16px;
  line-height: 26px;
  height: 26px;
  width: 26px;

  .mat-icon {
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    width: 16px;
  }
}

.details-wrapper {
  font-size: 14px;
  height: 100%;
}

.details-content {
  height: 100%;
}
