<h1 mat-dialog-title>
  Create
  <ng-container *ngIf="isProject()">
    project
  </ng-container>
  <ng-container *ngIf="isFolder()">
    folder
  </ng-container>
  <ng-container *ngIf="isFile()">
    file
  </ng-container>

  <div class="subtitle">
    Path: {{ form.controls.path.value }} <!--{{ form.controls.name.value }}-->
  </div>
</h1>

<div mat-dialog-content [formGroup]="form" (keyup.enter)="onSaveClicked()">
  <mat-form-field class="full-width">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" #fileInputField/>
    <mat-error *ngIf="form.controls.name.hasError('required')">
      Required
    </mat-error>
    <mat-error *ngIf="form.controls.name.hasError('stringError')">
      Already exists
    </mat-error>
  </mat-form-field>
</div>

<div mat-dialog-actions class="center">
  <button mat-button color="warn" (click)="onCancelClicked()">Cancel</button>
  <button mat-button color="primary" (click)="onSaveClicked()" [disabled]="form.invalid">
    Create
  </button>
</div>
