<h1 mat-dialog-title>Log in to {{ serverDto.name }}</h1>

<form [formGroup]="form" mat-dialog-content (keyup.enter)="login()">
  <div>
   <!-- <div class="login-error" *ngIf="loginError$ | async">
      {{ loginError$ | async }}-->
    <div class="login-error" *ngIf="loginErrorMessage">
      {{loginErrorMessage}}
    </div>
    <mat-form-field class="full-width">
      <mat-label>Username</mat-label>
      <input matInput autofocus placeholder="Username" formControlName="username">
      <mat-error *ngIf="form.controls['username'].hasError('required')">
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="form.controls['password'].hasError('required')">
        Required
      </mat-error>
    </mat-form-field>
  </div>
</form>

<div mat-dialog-actions class="center">
  <button mat-button color="primary" (click)="login()" [disabled]="form.invalid">Send</button>
  <button mat-button color="warn" (click)="cancel()">Cancel</button>
</div>
