<div class="grid-container">
  <h1>Logs</h1>
  <mat-card class="multi-card mat-elevation-z3 scrollable-content" *ngFor="let log of serverLogs" >
    <mat-card-header>
      <mat-card-title>
        {{ log.serverDto.name }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <pre>{{ log.logContent }}</pre>
    </mat-card-content>
  </mat-card>
</div>
