@import "app/util/styles/components/card";

.mat-card.scrollable-content {
  max-height: 400px;
  white-space: pre-wrap;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  > .mat-card-title-group {
    display: block;
  }

  > .mat-card-content {
    overflow-y: auto;
  }
}

.mat-card-header {
  flex: none !important;
}
