<div class="grid-container">
  <button mat-raised-button class="back-button" [routerLink]="'/queries'">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <h1 class="inline">Dashboard</h1>
  <h3 class="inline"> - {{ serverDto.name }}</h3>
  <h3 class="inline"> - {{ queryId }}</h3>

  <button *ngIf="query" mat-raised-button color="primary" class="header-button" (click)="pauseConnection()"
    [disabled]="query.state !== 'RUNNING'">
    <mat-icon *ngIf="paused">play_arrow</mat-icon>
    <mat-icon *ngIf="!paused">pause</mat-icon>
  </button>

  <mat-card class="mat-elevation-z3">
    <mat-form-field class="filter-field">
      <mat-label>Filter</mat-label>
      <mat-icon class="filter-prefix" matPrefix>filter_list</mat-icon>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>

    <mat-card-header>
      <mat-card-title>
        Data

        <mat-form-field class="select-field">
          <mat-label>Show last</mat-label>
          <mat-select [(value)]="maxResults">
            <mat-option value="50">50</mat-option>
            <mat-option value="100">100</mat-option>
            <mat-option value="250">250</mat-option>
            <mat-option value="500">500</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p class="center" *ngIf="dataSource.data?.length === 0">
        No data received
      </p>
      <mat-table *ngIf="displayedColumns" [dataSource]="dataSource" matSort>
        <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ col }}</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element[col] }}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator *ngIf="dataSource.data?.length > 0" [length]="dataSource.data?.length" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>