@import "app/util/styles/components/table";

.inline {
  display: inline;
}

.mat-card {
  margin-top: 18px;
}

.back-button {
  margin-right: 20px;
  top: -7px;
}

.select-field {
  font-size: 14px;
  position: absolute;
  left: 100px;
  width: 50px;
  top: 5px;
}
