<div class="grid-container">
  <h1>Queries</h1>

  <mat-card class="multi-card mat-elevation-z3" *ngFor="let serverQuery of serverQueries">
    <mat-card-header>
      <mat-card-title>
        {{ serverQuery.serverDto.name }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-query-table [serverDto]="serverQuery.serverDto" [data]="serverQuery.queries"
        (queryStateChanged)="changeState($event)" (queryDeleted)="delete($event)" (queryEventReceived)="updateQueries()"
        (showPlan)="onShowPlanClicked($event)"></app-query-table>
    </mat-card-content>
  </mat-card>
</div>