<mat-form-field class="filter-field">
  <mat-label>Filter</mat-label>
  <mat-icon class="filter-prefix" matPrefix>filter_list</mat-icon>
  <input matInput (keyup)="applyFilter($event)">
</mat-form-field>

<table
  class="full-width"
  mat-table
  matSort
  [dataSource]="dataSource"
>
  <ng-container matColumnDef="uri">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Uri</th>
    <td mat-cell *matCellDef="let row">{{ row.uri }}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
    <td mat-cell *matCellDef="let row">{{ row.type }}</td>
  </ng-container>

  <ng-container matColumnDef="subtype">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Subtype</th>
    <td mat-cell *matCellDef="let row">
      {{ row.hasOwnProperty('subtype') ? row.subtype.uri : ''}}
    </td>
  </ng-container>

  <ng-container matColumnDef="subschema">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Subschema</th>
    <td mat-cell *matCellDef="let row">
      {{ row.hasOwnProperty('subschema') ? row.subschema.uri : ''}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [attr.colspan]="displayedColumns.length">
      <p class="center">No entries found.</p>
    </td>
  </tr>
</table>

<mat-paginator
  [length]="dataSource.data?.length"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 50]"
></mat-paginator>