<mat-card class="mat-elevation-z2">
  <mat-card-content>
    <div [ngStyle]="{'visibility': currentNode && (editor || isVisualEditor) ? 'visible' : 'hidden'}" style="height: 100%;">
      <nav mat-tab-nav-bar cdkDropList [cdkDropListData]="openNodes" cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)">
        <a mat-tab-link *ngFor="let nodeData of openNodes; let i = index" type="button"
          (click)="navigateToNode(nodeData)" [active]="nodeData === currentNode" cdkDrag
          (contextmenu)="openMenu($event, tabMenuTrigger, nodeData)">
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          <span matTooltip="{{ nodeData.path }}">
            {{ nodeData.name }}
            <ng-container *ngIf="nodeData.hasChanges()">
              *
            </ng-container>
          </span>
          <button mat-icon-button (click)="onCloseTabClicked(nodeData, $event)" matTooltip="Close">
            <mat-icon>close</mat-icon>
          </button>
        </a>
      </nav>
      <div class="editor {{ (!isVisualEditor || !currentNode?.isVisual) && currentNode ? 'visible' : 'hidden' }}" (keydown)="onKeyDown($event)">
        <ngx-monaco-editor *ngIf="initialized" [options]="editorOptions" (onInit)="onEditorInitialized($event)">
        </ngx-monaco-editor>
      </div>
      <div class="editor {{ isVisualEditor && currentNode?.isVisual ? 'visible' : 'hidden' }}" (keydown)="onKeyDown($event)">
        <app-ide-visual-editor [operators]="operators" [currentNode]="currentNode" [serverDto]="serverDto"
          (onGraphNodeSelected)="onGraphNodeSelected($event)"></app-ide-visual-editor>
      </div>
    </div>
    <div class="editor-overlay" [ngStyle]="{'visibility': !currentNode || (!isVisualEditor && !editor) ? 'visible' : 'hidden'}">
      <div>
        <div class="editor-overlay-title">No open file</div>
        <small>Select a file in the Project Explorer on the left or create a new project.</small>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div>
      <button mat-icon-button (click)="onChangeEditorClicked()"
        [disabled]="!currentNode?.isVisual"
        matTooltip="{{ isVisualEditor ? 'Code editor' : 'Visual editor'}}">
        <mat-icon *ngIf="!isVisualEditor">account_tree</mat-icon>
        <mat-icon *ngIf="isVisualEditor">code</mat-icon>
      </button>
    </div>
    <div>
      <button mat-button [disabled]="!hasChanges()" (click)="onSaveNodeClicked()"
        matTooltip="Save file ({{ 'S' | command }})">
        Save
      </button>
      <button mat-button [disabled]="!anyChanges()" (click)="onSaveAllNodesClicked()"
        matTooltip="Save all files ({{ 'S' | command:true }})">
        Save all
      </button>
      <button mat-button *ngIf="currentNode?.isVisual" [disabled]="!currentNode" (click)="onQuerySubmitClicked(false)"
        matTooltip="Install query ({{ 'I' | command }})">
        Install
      </button>
      <button mat-button [disabled]="!currentNode" (click)="onQuerySubmitClicked(true)"
        matTooltip="Run query ({{ 'R' | command }})">
        Run
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<div class="context-menu" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="tabMenu" #tabMenuTrigger="matMenuTrigger">
</div>

<mat-menu #tabMenu="matMenu">
  <ng-template matMenuContent let-node="node">
    <button mat-menu-item (click)="onCloseTabClicked(node, $event)">
      <mat-icon>close</mat-icon>
      <span>Close</span>
    </button>
  </ng-template>
</mat-menu>
