.mat-card-content {
  height: 100%;
  margin-top: -16px !important;
  margin-bottom: -16px !important;

  .editor {
    margin-left: -16px !important;
    margin-right: -16px !important;
  }

  .editor.visible {
    height: calc(100% - 60px) !important;
    visibility: visible;
  }

  .editor.hidden {
    height: 0%;
    visibility: hidden;
  }
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;
}

::ng-deep .mtki {
  text-decoration: line-through;
}

ngx-monaco-editor {
  height: 100%;
}
