.graph-wrapper {
  box-sizing: border-box;
  background-color: #f8f9fb;
  overflow: hidden;
  height: 100%;
  width: 100%;
  max-width: 100%;
  border-radius: 4px;
  box-shadow: inset 0px 3px 1px -2px rgb(0 0 0 / 20%),
    inset 0px 2px 2px 0px rgb(0 0 0 / 14%),
    inset 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.mat-dialog-content {
  height: calc(100% - 100px);
}
