<h1 mat-dialog-title>
  Query {{ query.id }}: Plan
</h1>

<div mat-dialog-content>
  <div class="graph-wrapper">
    <app-query-graph [serverDto]="serverDto" [query]="query"></app-query-graph>
  </div>
</div>

<div mat-dialog-actions class="center">
  <button mat-button color="primary" (click)="onCloseClicked()">Close</button>
</div>
