<mat-form-field class="filter-field">
  <mat-label>Filter</mat-label>
  <mat-icon class="filter-prefix" matPrefix>filter_list</mat-icon>
  <input matInput (keyup)="applyFilter($event)">
</mat-form-field>

<table
  class="full-width"
  mat-table
  matSort
  [dataSource]="dataSource"
>
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
    <td mat-cell *matCellDef="let row">{{ row.symbol }}</td>
  </ng-container>

  <ng-container matColumnDef="parameters">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Parameters</th>
    <td mat-cell *matCellDef="let row">{{ row.parameters|json }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [attr.colspan]="displayedColumns.length">
      <p class="center">No entries found.</p>
    </td>
  </tr>
</table>

<mat-paginator
  [length]="dataSource.data?.length"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 50]"
></mat-paginator>