<h1 mat-dialog-title>
  Rename
  <ng-container *ngIf="form.controls.isDir.value && !form.controls.path.value">
    project
  </ng-container>
  <ng-container *ngIf="form.controls.isDir.value && form.controls.path.value">
    folder
  </ng-container>
  <ng-container *ngIf="!form.controls.isDir.value">
    file
  </ng-container>
</h1>

<div mat-dialog-content [formGroup]="form" (keyup.enter)="onSaveClicked()">
  <mat-form-field class="full-width">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
    <mat-error *ngIf="form.controls.name.hasError('required')">
      Required
    </mat-error>
    <mat-error *ngIf="form.controls.name.hasError('stringError')">
      Already exists
    </mat-error>
  </mat-form-field>
</div>

<div mat-dialog-actions class="center">
  <button mat-button color="warn" (click)="onCancelClicked()">Cancel</button>
  <button mat-button color="primary" (click)="onSaveClicked()" [disabled]="form.invalid">
    Rename
  </button>
</div>
