<div class="grid-container">
  <h1>Sinks</h1>

  <mat-card class="multi-card mat-elevation-z3" *ngFor="let serverSink of serverSinks">
    <mat-card-header>
      <mat-card-title>
        {{ serverSink.serverDto.name }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-sink-table [serverDto]="serverSink.serverDto" [data]="serverSink.sinks" (sinkDeleted)="delete($event)"
        (dataDictionaryEventReceived)="updateSinks()"></app-sink-table>
    </mat-card-content>
  </mat-card>
</div>