$primary: #002060;
$secondary: #7da9d0;
$warn: #f44336;

$bg-color: rgb(243, 243, 243);

// Generated with http://mcg.mbitson.com/
$md-primary: (
  50: #e0e4ec,
  100: #b3bccf,
  200: #8090b0,
  300: #4d6390,
  400: #264178,
  500: #002060,
  600: #001c58,
  700: #00184e,
  800: #001344,
  900: #000b33,
  A100: #6b7cff,
  A200: #384eff,
  A400: #0521ff,
  A700: #001aeb,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

// Generated with http://mcg.mbitson.com/
$md-secondary: (
  50: #eff5f9,
  100: #d8e5f1,
  200: #bed4e8,
  300: #a4c3de,
  400: #91b6d7,
  500: #7da9d0,
  600: #75a2cb,
  700: #6a98c4,
  800: #608fbe,
  900: #4d7eb3,
  A100: #ffffff,
  A200: #ddedff,
  A400: #aad2ff,
  A700: #90c5ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
