@use '@angular/material' as mat;
@import "variables";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$webstudio-primary: mat.define-palette($md-primary);
$webstudio-accent: mat.define-palette($md-secondary);

// The warn palette is optional (defaults to red).
$webstudio-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$webstudio-theme: mat.define-light-theme(
  (
    color: (
      primary: $webstudio-primary,
      accent: $webstudio-accent,
      warn: $webstudio-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-legacy-component-themes($webstudio-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $bg-color;
}

.full-width {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-error {
  padding: 15px 10px;
  background-color: mat.get-color-from-palette($webstudio-warn);
  color: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
}

snack-bar-container {
  color: #fff !important;
}

snack-bar-container.warning {
  background-color: mat.get-color-from-palette($webstudio-warn);
}

.grid-container {
  margin: 20px;
}

*,
:after,
:before {
  box-sizing: border-box;
}

a.disabled {
  color: rgba(0, 0, 0, 0.26);
  pointer-events: none;
  cursor: default;
}
