<h1 mat-dialog-title>
  Delete
  <ng-container *ngIf="data.isDir && !data.parent">
    project
  </ng-container>
  <ng-container *ngIf="data.isDir && data.parent">
    folder
  </ng-container>
  <ng-container *ngIf="!data.isDir">
    file
  </ng-container>
</h1>
<div mat-dialog-content *ngIf="data.isDir && !data.parent">
  Delete the project '{{ data.name }}' with all its recursive content?
</div>
<div mat-dialog-content *ngIf="data.isDir && data.parent">
  Delete the folder '{{ data.name }}' with all its recursive content?
</div>
<div mat-dialog-content *ngIf="!data.isDir">
  Delete the file '{{ data.name }}?'
</div>
<div mat-dialog-actions class="center">
  <button mat-button color="warn" (click)="onYesClicked()">Yes</button>
  <button mat-button (click)="onCancelClicked()">Cancel</button>
</div>