.chart-container {
  position: relative;
  width: 80px;
  height: 60px;
}

.value-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
