<div class="chart-container">
  <canvas baseChart
    [data]="chartData"
    [type]="chartType"
    [options]="chartOptions">
  </canvas>
  <div class="value-container">
    {{ percent }}%
  </div>
</div>
