<div class="tab-area">
  <div class="tab-content">
    <small *ngIf="!queries || !queries.length">No queries available</small>
    <table *ngIf="queries && queries.length" class="full-width" mat-table [dataSource]="queries">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let row">
          <span class="custom-badge {{ isRunning(row) ? 'custom-badge-success' : 'custom-badge-warn' }}">
            {{ row.state }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="parser">
        <th mat-header-cell *matHeaderCellDef>Parser</th>
        <td mat-cell *matCellDef="let row">{{ row.parser }}</td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>User</th>
        <td mat-cell *matCellDef="let row">{{ row.user }}</td>
      </ng-container>

      <ng-container matColumnDef="queryText">
        <th mat-header-cell *matHeaderCellDef>Query text</th>
        <td mat-cell *matCellDef="let row">{{ row.queryText }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (contextmenu)="openMenu($event, queryMenuTrigger, row)">
      </tr>
    </table>
  </div>
  <div class="tab-buttons">
    <button mat-icon-button [disabled]="!queries || !queries.length" (click)="onShowPlanClicked()" matTooltip="Show current plan">
      <mat-icon>account_tree</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!queries || !queries.length" (click)="onDeleteAllClicked()" matTooltip="Delete all">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<div class="context-menu" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="queryMenu" #queryMenuTrigger="matMenuTrigger">
</div>

<mat-menu #queryMenu="matMenu">
  <ng-template matMenuContent let-query="query">
    <button mat-menu-item [disabled]="isRunning(query)" (click)="onStartClicked(query)">
      <mat-icon>play_arrow</mat-icon>
      <span>Start</span>
    </button>
    <button mat-menu-item [disabled]="isInactive(query)" (click)="onStopClicked(query)">
      <mat-icon>stop</mat-icon>
      <span>Stop</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onGraphClicked(query)">
      <mat-icon>account_tree</mat-icon>
      <span>Show graph</span>
    </button>
    <button mat-menu-item (click)="onTabledClicked(query)">
      <mat-icon>table_rows</mat-icon>
      <span>Show in table</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onDeleteClicked(query)">
      <mat-icon>delete</mat-icon>
      <span>Remove query</span>
    </button>
  </ng-template>
</mat-menu>
