<mat-card class="mat-elevation-z2" style="display: flex; flex-direction: column;"
  (keydown)="onKeyDown($event)">
  <nav mat-tab-nav-bar>
    <a mat-tab-link [active]="true">
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      <h2>{{serverDto.name}}</h2>
    </a>
  </nav>
  <div *ngIf="dataSource.data && dataSource.data.length === 0">
    <small>No projects</small>
  </div>
  <mat-card-content>

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" #dndContainer>
      <mat-tree-node *matTreeNodeDef="let node">
        <a role="button" class="tree-node-handler" (dragstart)="startDrag($event, node)"
          [routerLink]="pathToUrl(node.path)" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }" [ngStyle]="{ 'padding-left': 16 * node.level + 'px' }">
          <div class="context-menu" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"
            [matMenuTriggerFor]="fileMenu" [matMenuTriggerData]="{ node: node }" #fileMenuTrigger="matMenuTrigger">
          </div>

          <div class="tree-node-content" [ngStyle]="{'font-style': node.content ? 'italic' : 'normal'}"
            (contextmenu)="openMenu($event, fileMenuTrigger)">
            <mat-icon class="mat-icon-rtl-mirror">description</mat-icon>
            <span class="text-truncate">
              {{ node.name }}
              <ng-container *ngIf="node.hasChanges()">
                *
              </ng-container>
            </span>
            <mat-icon *ngIf="node === pasteCacheNode && pasteCacheType === 'move'" class="mat-icon-rtl-mirror">
              content_cut
            </mat-icon>
            <mat-icon *ngIf="node === pasteCacheNode && pasteCacheType === 'copy'" class="mat-icon-rtl-mirror">
              content_copy
            </mat-icon>
          </div>
        </a>
      </mat-tree-node>
      <mat-nested-tree-node *matTreeNodeDef="let node; when: isDir">
        <div class="mat-tree-node">
          <a class="tree-node-handler" [routerLink]="pathToUrl(node.path)" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }" [ngStyle]="{ 'padding-left': 16 * node.level + 'px' }"
            matTreeNodeToggle>
            <div class="context-menu" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"
              [matMenuTriggerFor]="folderMenu" [matMenuTriggerData]="{ node: node }"
              #folderMenuTrigger="matMenuTrigger">
            </div>

            <div class="tree-node-content" [ngStyle]="{'font-style': node.children ? 'italic' : 'normal'}"
              (contextmenu)="openMenu($event, folderMenuTrigger)">
              <mat-icon class="mat-icon-rtl-mirror">
                {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
              </mat-icon>
              <span class="text-truncate" [ngClass]="{ 'root-title': node.level === 0 }">
                {{ node.name }}
              </span>
              <mat-icon *ngIf="node === pasteCacheNode && pasteCacheType === 'move'" class="mat-icon-rtl-mirror">
                content_cut
              </mat-icon>
              <mat-icon *ngIf="node === pasteCacheNode && pasteCacheType === 'copy'" class="mat-icon-rtl-mirror">
                content_copy
              </mat-icon>
            </div>
          </a>
        </div>
        <div [ngStyle]="{'display': treeControl.isExpanded(node) ? 'block' : 'none'}" role="group">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-icon-button (click)="onCreateProjectClicked()" matTooltip="New project ({{ 'Z' | command }})">
      <mat-icon>add</mat-icon>
    </button>
    <button *ngIf="currentNode" mat-icon-button (click)="onCreateFolderClicked()"
      matTooltip="New folder in current directory ({{ 'I' | command }})">
      <mat-icon>create_new_folder</mat-icon>
    </button>
    <button *ngIf="currentNode" mat-icon-button (click)="onCreateFileClicked()"
      matTooltip="New file in current directory ({{ 'O' | command }})">
      <mat-icon>note_add</mat-icon>
    </button>
    <button *ngIf="currentNode" mat-icon-button (click)="onCreateFileClicked2()"
    matTooltip="New visual query in current directory ({{ 'O' | command }})">
    <mat-icon>note_add</mat-icon>
  </button>
  </mat-card-actions>
</mat-card>

<mat-menu #fileMenu="matMenu">
  <ng-template matMenuContent let-node="node">
    <button mat-menu-item (click)="onRefreshClicked(node)">
      <mat-icon>sync</mat-icon>
      <span>Refresh ({{ 'R' | command:true }})</span>
    </button>
    <button mat-menu-item (click)="onDownloadClicked(node)">
      <mat-icon>file_download</mat-icon>
      <span>Download ({{ 'Ü' | command }})</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onCutClicked(node)">
      <mat-icon>content_cut</mat-icon>
      <span>Cut ({{ 'X' | command }})</span>
    </button>
    <button mat-menu-item (click)="onCopyClicked(node)">
      <mat-icon>content_copy</mat-icon>
      <span>Copy ({{ 'C' | command }})</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onRenameClicked(node)">
      <mat-icon>edit</mat-icon>
      <span>Rename (F2)</span>
    </button>
    <button mat-menu-item (click)="onDeleteClicked(node)">
      <mat-icon>delete</mat-icon>
      <span>Delete (DEL)</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #folderMenu="matMenu">
  <ng-template matMenuContent let-node="node">
    <button mat-menu-item (click)="onCreateFolderClicked(node)">
      <mat-icon>create_new_folder</mat-icon>
      <span>New folder ({{ 'I' | command }})</span>
    </button>
    <button mat-menu-item (click)="onCreateFileClicked(node)">
      <mat-icon>note_add</mat-icon>
      <span>New file ({{ 'O' | command }})</span>
    </button>
    <button mat-menu-item (click)="onDownloadClicked(node)">
      <mat-icon>file_download</mat-icon>
      <span>Download ({{ 'Ü' | command }})</span>
    </button>
    <button mat-menu-item (click)="onRefreshClicked(node)">
      <mat-icon>sync</mat-icon>
      <span>Refresh ({{ 'R' | command:true }})</span>
    </button>
    <mat-divider></mat-divider>
    <ng-container *ngIf="node.parent">
      <button mat-menu-item (click)="onCutClicked(node)">
        <mat-icon>content_cut</mat-icon>
        <span>Cut ({{ 'X' | command }})</span>
      </button>
      <button mat-menu-item (click)="onCopyClicked(node)">
        <mat-icon>content_copy</mat-icon>
        <span>Copy ({{ 'C' | command }})</span>
      </button>
    </ng-container>
    <button mat-menu-item [disabled]="!pasteCacheNode" (click)="onPasteClicked(node)">
      <mat-icon>content_paste</mat-icon>
      <span>Paste ({{ 'V' | command }})</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onRenameClicked(node)">
      <mat-icon>edit</mat-icon>
      <span>Rename (F2)</span>
    </button>
    <button mat-menu-item (click)="onDeleteClicked(node)">
      <mat-icon>delete</mat-icon>
      <span>Delete (DEL)</span>
    </button>
  </ng-template>
</mat-menu>
