.mat-form-field {
  margin-right: 10px;
  width: 31%;
}

.label-field {
  width: 100%;
}

.sdf-group {
  margin-left: 10px;
}

button {
  margin: 4px 0;

  .mat-icon {
    margin-top: -3px;
    margin-left: -3px;
  }
}
