
<mat-form-field class="full-width label-field">
  <mat-label>{{ param.parameterName }}</mat-label>
  <input matInput disabled>
  <mat-hint>{{ param.doc }}</mat-hint>
</mat-form-field>

<ng-container *ngFor="let group of form.controls; let i = index">
  <div [formGroup]="group" class="full-width sdf-group">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="group.controls['name'].hasError('required')">
        Required
      </mat-error>
      <mat-hint>Name of the attribute</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Datatype</mat-label>
      <mat-select formControlName="datatype">
        <mat-option *ngFor="let datatype of datatypes" [value]="datatype.uri">
          {{ datatype.uri }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="group.controls['datatype'].hasError('required')">
        Required
      </mat-error>
      <mat-hint>Datatype of the attribute</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Constraints</mat-label>
      <input matInput formControlName="constraints">
      <mat-hint>Constraints of the attribute</mat-hint>
    </mat-form-field>
    <button color="warn" matSuffix mat-icon-button aria-label="Clear"
      (click)="removeGroup(i)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</ng-container>

<button mat-stroked-button class="sdf-group" color="accent"
  [disabled]="form.invalid" (click)="addGroup()">
  <mat-icon>add</mat-icon> Attribute
</button>
