.panel {
  padding: 3px;
  height: 100%;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active {
  min-width: 0 !important;
}

.mat-toolbar {
  height: 28px;
  top: 4px;
  background: white;
  font-size: 12px;

  .mat-icon-button {
    margin-left: 8px;
    margin-right: -16px;
    line-height: 26px;
    height: 26px;
    width: 26px;

    .mat-icon {
      font-size: 16px;
      line-height: 16px;
      height: 16px;
      width: 16px;
    }
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }
}

.x6-graph {
  height: calc(100% - 28px) !important;
  width: 100% !important;
}

.sub-graph {
  height: 0%;
  visibility: hidden;
}
