<mat-toolbar class="mat-elevation-z1">
  <span>Toolbar</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button (click)="openShortcutDialog()" matTooltip="Shortcuts">
    <mat-icon>keyboard</mat-icon>
  </button>
</mat-toolbar>

<div #graphContainer></div>
<div #subGraphContainer class="sub-graph"></div>

<div class="context-menu" [style.left]="menuTopLeftPosition.x" [style.top]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="rightMenu">
</div>

<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item [disabled]="selectedNodes.length !== 1" (click)="openParameterDialog(item)">Configuration</button>
    <button mat-menu-item [disabled]="!odysseusNodes" [matMenuTriggerFor]="destination">Destination</button>
    <button mat-menu-item (click)="removeOperators()">
      Remove
    </button>
  </ng-template>
</mat-menu>

<mat-menu #destination="matMenu">
  <ng-container *ngFor="let node of odysseusNodes">
    <button mat-menu-item (click)="onDestinationSelected(node.name)">
      <mat-icon>storage</mat-icon>
      {{ node.name }}
    </button>
  </ng-container>
  <button mat-menu-item (click)="onDestinationSelected('')">
    <mat-icon>close</mat-icon>
    Unset
  </button>
</mat-menu>
