<h1 mat-dialog-title>
  {{ mode === 'create' ? 'Add' : 'Edit' }} Connection
</h1>

<div [formGroup]="form" mat-dialog-content (keyup.enter)="save()">
  <div>
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="form.controls['name'].hasError('required')">
        Required
      </mat-error>
      <mat-error *ngIf="form.controls['name'].hasError('nameExists')">
        Already exists
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Scheme</mat-label>
      <mat-select formControlName="scheme">
        <mat-option value="http">http</mat-option>
        <mat-option value="https">https</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Host</mat-label>
      <input matInput formControlName="host" placeholder="localhost" />
      <mat-error *ngIf="form.controls['host'].hasError('required')">
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Port</mat-label>
      <input matInput formControlName="port" placeholder="8888" type="number" />
      <mat-hint>optional</mat-hint>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="1"></textarea>
      <mat-hint>optional</mat-hint>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions class="center">
  <button mat-button color="warn" (click)="cancel()">
    Cancel
  </button>
  <button mat-button color="primary" (click)="save()" [disabled]="!form.valid || !form.dirty">
    Save
  </button>
</div>
