<div class="tab-area" #dndContainer>
  <div class="tab-content">
    <small *ngIf="!streams || !streams.length">No sources available</small>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
      <mat-tree-node *matTreeNodeDef="let node">
        <a role="button" class="tree-node-handler" [ngStyle]="{ 'padding-left': (isAttribute(node) ? 16 : 0) + 'px' }">
          <div class="tree-node-content">
            <ng-container [ngTemplateOutlet]="content" [ngTemplateOutletContext]="{ node: node }"></ng-container>
          </div>
        </a>
      </mat-tree-node>
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node"
          [ngStyle]="{'cursor': this.graph ? 'grab' : 'pointer'}">

          <a role="button" class="tree-node-handler" matTreeNodeToggle
            [ngStyle]="{'padding-left': (isAttribute(node) ? 16 : 0) + 'px'}">

            <div class="context-menu" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"
              [matMenuTriggerFor]="streamMenu" [matMenuTriggerData]="{ node: node }"
              #streamMenuTrigger="matMenuTrigger">
            </div>

            <div class="tree-node-content" (contextmenu)="openMenu($event, streamMenuTrigger)">
              <mat-icon class="mat-icon-rtl-mirror node-toggle" matTreeNodeToggle>
                {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
              </mat-icon>
              <ng-container [ngTemplateOutlet]="content" [ngTemplateOutletContext]="{ node: node }"></ng-container>
            </div>
          </a>
        </div>
        <div [ngStyle]="{'display': treeControl.isExpanded(node) ? 'block' : 'none'}" role="group">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </div>

  <div class="tab-buttons">
    <button mat-icon-button [disabled]="!streams || !streams.length" (click)="onExpandAllClicked()" matTooltip="Expand all">
      <mat-icon>unfold_more</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!streams || !streams.length" (click)="onCollapseAllClicked()" matTooltip="Collapse all">
      <mat-icon>unfold_less</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!streams || !streams.length" (click)="onDeleteAllClicked()" matTooltip="Delete all">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<ng-template #content let-node="node">
  <ng-container *ngIf="isResource(node)">
    <span (mousedown)="startDrag($event, node)" class="span-container">
      <mat-icon class="mat-icon-rtl-mirror">
        {{ node.type === 'source' ? 'file_download' : 'filter_alt' }}
      </mat-icon>
      {{ node.name }}
    </span>
  </ng-container>
  <ng-container *ngIf="isAttribute(node)">
    <span class="attribute-icon">●</span>
    <span class="attribute-name">{{ node.attributename }}</span>
    <span class="attribute-datatype">{{ node.datatype.uri }}</span>
  </ng-container>
</ng-template>

<mat-menu #streamMenu="matMenu">
  <ng-template matMenuContent let-node="node">
    <button mat-menu-item (click)="onQueryClicked(node)">
      <mat-icon>search</mat-icon>
      <span>Query source</span>
    </button>
    <button mat-menu-item (click)="onDeleteClicked(node)">
      <mat-icon>delete</mat-icon>
      <span>Delete source</span>
    </button>
  </ng-template>
</mat-menu>
