.attribute-icon {
  color: green;
  margin-right: 4px;
}

.attribute-name {
  margin-right: 6px;
}

.attribute-datatype {
  color: rgba(0, 0, 0, 0.5);
}

.node-toggle {
  cursor: pointer;
}

.span-container {
  display: contents;
}
