<h1 mat-dialog-title>{{ title }}</h1>

<div mat-dialog-content>
  <p class="center">{{ message }}</p>
</div>

<div mat-dialog-actions class="center">
  <button
    mat-button
    (click)="dialogRef.close(false)"
    tabindex="1"
    color="primary">
    Cancel
  </button>
  <button
    mat-button
    (click)="dialogRef.close(true)"
    tabindex="2"
    color="warn">
    Confirm
  </button>
</div>

