<h1 mat-dialog-title>
  Keyboard shortcuts
</h1>

<div mat-dialog-content>
  <table>
    <tbody>
      <tr>
        <td>Select all</td>
        <td class="text-right">
          <kbd>{{ 'a' | command }}</kbd>
        </td>
      </tr>
      <tr>
        <td>Copy</td>
        <td class="text-right">
          <kbd>{{ 'c' | command }}</kbd>
        </td>
      </tr>
      <tr>
        <td>Cut</td>
        <td class="text-right">
          <kbd>{{ 'x' | command }}</kbd>
        </td>
      </tr>
      <tr>
        <td>Paste</td>
        <td class="text-right">
          <kbd>{{ 'v' | command }}</kbd>
        </td>
      </tr>
      <tr>
        <td>Undo</td>
        <td class="text-right">
          <kbd>{{ 'left' | command }}</kbd>
        </td>
      </tr>
      <tr>
        <td>Redo</td>
        <td class="text-right">
          <kbd>{{ 'right' | command }}</kbd>
        </td>
      </tr>
      <tr>
        <td>Delete</td>
        <td class="text-right">
          <kbd>backspace</kbd>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div mat-dialog-actions class="center">
  <button mat-button color="primary" (click)="close()">
    Close
  </button>
</div>
