.expansion-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.dialog-content {
  padding-bottom: 3px;
  padding-top: 3px;
}

.mat-expansion-panel-header.mat-expanded {
  height: 48px;
}
