<h1 mat-dialog-title>
  <strong>{{ serverSystemLoads.serverDto.name }}</strong>: system resources
</h1>

<div mat-dialog-content class="dialog-content">
  <mat-accordion class="expansion-headers-align">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          CPU
        </mat-panel-title>
        <mat-panel-description>
          View CPU informations
        </mat-panel-description>
      </mat-expansion-panel-header>
      <pre>{{ serverSystemLoads.cpu | json }}</pre>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Memory
        </mat-panel-title>
        <mat-panel-description>
          View memory informations
        </mat-panel-description>
      </mat-expansion-panel-header>
      <pre>{{ serverSystemLoads.mem | json }}</pre>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Network
        </mat-panel-title>
        <mat-panel-description>
          View network informations
        </mat-panel-description>
      </mat-expansion-panel-header>
      <pre>{{ serverSystemLoads.net | json }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div mat-dialog-actions class="center">
  <button mat-button color="primary" (click)="close()">
    Close
  </button>
</div>
