<h1 mat-dialog-title>{{ title }}</h1>

<div mat-dialog-content>
  <p>{{ message }}</p>
</div>

<div mat-dialog-actions class="button-container">
  <button mat-button (click)="dialogRef.close()" tabindex="1" color="accent">
    Close
  </button>
</div>
